
 <nav class="navbar navbar-expand-md navbar-dark bg-secondary d-flex">

    <i class=	"glyphicon glyphicon-road"></i>
     <a class="navbar-brand" style="color:aquamarine;" href="#">Your Journey</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <!--<ul class="navbar-nav mr-auto">-->
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a><span>&nbsp;&nbsp;</span></li>
          <li><a *ngIf="authenticationService.login()" class="nav-link" [routerLink]="['/travelportal']">Travel information</a></li>
    </ul>

    <!--<ul class="navbar-nav mr-auto navbar-right">-->
      <ul class="navbar-nav my-2 my-lg-0">
        
        <li><a div="color1" style="color:white;" *ngIf="authenticationService.login()" (click)="onLogoutClick()" href="#">Logout</a></li>
    </ul>    
</div>
</nav>