<div class="container"></div>
<br>
<div class="jumbotron text-center">
        <h1>Make Your journey with us!</h1>
        <p class="lead">Welcome to Mumbai Pune journey</p>
<div>
        <a class="btn btn-primary" [routerLink]="['/registration']" [routerLinkActive]="['active']">Register Here</a>
        <span>&nbsp;</span>
        <a class="btn btn-info" [routerLink]="['/login']" [routerLinkActive]="['active']">login</a>

        <br>
        &nbsp;
        &nbsp;
        <br>
        <p>You can use following value to login for demo purpose:</p>
        <p>username: userdemo</p>
        <p>password: passworddemo</p>
</div>
</div>






