
 /*.container
 {
    background-image: url("/abc1.jpg");

    height: 100%;
    width: 100%;
    overflow:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: fixed;
 }*/

 